*
{
margin: 0;
padding: 0;
box-sizing: border-box;    
}
body {
    color: white;
    background-image: url(vitaminokborapolas.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position-x: center;  
}

h1{
    font-size: 3.5rem;
    letter-spacing: .5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 50px;
    padding-top: 25px;
    text-transform: uppercase;
}
h2{
    letter-spacing: .1rem;
}

p{
    font-size: large;
    margin-bottom: 35px;
}

a{
    color: white;
    transition: all 1s;

}


a:hover{
letter-spacing: .6rem;
color: orange;

}

div{
    text-align: center;
    margin: auto;
    background-color: orange;
    width: 750px;
    border-radius: 15px;
    transition: width .5s;
}

div:hover{
width: 850px;
}