body {
    color: #000000;
    background-color: #ffff;
}

h1{
    font-size: 3.5rem;
    letter-spacing: .5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 5px;
    text-transform: uppercase;
}
h2{
    letter-spacing: .1rem;
}

p{
    font-size: large;
    margin-bottom: 35px;
}